* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  justify-content: center;
}
body .map {
  background-color: #3f744d;
  display: grid;
  grid-template-columns: repeat(5, min(20vh, 20vw));
  grid-template-rows: repeat(4, min(20vh, 20vw));
}
body .map article {
  opacity: 0%;
  transition: ease-in 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .map article article {
  width: 100%;
  height: 100%;
}
body .map article article img {
  width: min(3.25vh, 3.25vw);
}
body .nav {
  height: min(20vh, 20vw);
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
}
body .nav :nth-child(2) :nth-child(1) :nth-child(1) {
  transform: rotate(-90deg);
}
body .nav :nth-child(2) :nth-child(2) :nth-child(1) {
  transform: rotate(180deg);
}
body .nav :nth-child(2) :nth-child(3) :nth-child(1) {
  transform: rotate(90deg);
}
body .nav section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
body .nav section .reload {
  position: absolute;
  right: 0;
}
body .nav section .reload :nth-child(1) {
  padding: min(2.5vh, 2.5vw);
  position: absolute;
  content: url("../reload.svg");
}
body .nav section .showInfo {
  position: absolute;
  left: 0;
}
body .nav section .showInfo :nth-child(1) {
  padding: min(2.5vh, 2.5vw);
  position: absolute;
  content: url("../info.svg");
}
body .nav section .move :nth-child(1) {
  padding: min(2.5vh, 2.5vw);
  position: absolute;
  content: url("../arrow.svg");
}
body .nav section button {
  border: none;
  background-color: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  outline: none;
}
body .nav section button:hover {
  cursor: pointer;
}
body .nav section button img {
  height: 100%;
  content: url("../key.png");
}
body .nav section button :nth-child(1):hover {
  padding: min(2vh, 2vw);
  cursor: pointer;
}

.show {
  opacity: 100% !important;
}
.show * {
  opacity: 100% !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: min(80vh, 80vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay article {
  display: flex;
  padding: min(3vh, 3vw) min(8vh, 8vw) min(3vh, 3vw) min(3vh, 3vw);
  max-width: min(80vh, 80vw);
  max-height: min(60vh, 60vw);
  overflow: auto;
  word-break: break-all;
  border-radius: min(2vh, 2vw);
  font-size: min(4vh, 4vw);
  background-color: aliceblue;
  transform: scale(0%);
  transition: 0.5s ease-in;
}
.overlay article img {
  position: absolute;
  top: min(2vh, 2vw);
  right: min(2vh, 2vw);
  width: min(5vh, 5vw);
  content: url("../x.svg");
}
.overlay article img:hover {
  cursor: pointer;
}

.fullscale {
  transform: scale(100%) !important;
}/*# sourceMappingURL=style.css.map */